@model EshopSolution.ViewModels.Catalog.Products.ProductCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo mới sản phẩm :))</h1>

<hr />
<div id="layoutSidenav">
    <div class="container-fluid">
        <div class="card-body">
            <div class="align-items-center">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" placeholder="N/A" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" type="number" placeholder="N/A" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="OriginalPrice" class="control-label"></label>
                                <input asp-for="OriginalPrice" class="form-control" type="number" placeholder="N/A" />
                                <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="Stock" class="control-label"></label>
                                <input asp-for="Stock" class="form-control" type="number" placeholder="N/A" />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="isFeatured" /> @Html.DisplayNameFor(model => model.isFeatured)
                        </label>
                    </div>

                    <div class="form-row">
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="SeoTitle" class="control-label"></label>
                                <input asp-for="SeoTitle" class="form-control" placeholder="N/A" />
                                <span asp-validation-for="SeoTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="SeoAlias" class="control-label"></label>
                                <input asp-for="SeoAlias" class="form-control" placeholder="N/A" />
                                <span asp-validation-for="SeoAlias" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="SeoDescription" class="control-label"></label>
                        <input asp-for="SeoDescription" class="form-control" placeholder="N/A" />
                        <span asp-validation-for="SeoDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Details" class="control-label"></label>
                        <input asp-for="Details" class="form-control" placeholder="N/A" />
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>


                  

                    <div class="d-flex justify-content-center">
                        <div class="form-group">
                            <input type="submit" value="Tạo mới" class="btn btn-primary" />
                        </div>
                    </div>

                </form>
               
            </div>
        </div>
    </div>
</div>

       
