@model List<EshopSolution.ViewModels.Catalog.Categories.CategoryViewModel>
@using EshopSolution.ViewModels.Catalog.Categories
@using LazZiya.ExpressLocalization
@inject ISharedCultureLocalizer _loc

@{
    string culture = CultureInfo.CurrentCulture.Name;
}
<div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="product_summary.html"><img src= "https://localhost:5002/themes/images/carousel/4.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{
            Dictionary<int, CategoryViewModel> categories = new Dictionary<int, CategoryViewModel>();
            Dictionary<int, List<int>> childs = new Dictionary<int, List<int>>();
            Dictionary<int, bool> ischecked = new Dictionary<int, bool>();
            List<int> parents = new List<int>();


            foreach (CategoryViewModel item in Model)
            {

                categories.Add(item.Id, item);


                if (item.ParentId == null)
                {
                    parents.Add(item.Id);
                }
                else
                {
                    if (!childs.ContainsKey(item.ParentId.GetValueOrDefault()))
                    {
                        childs.Add(item.ParentId.GetValueOrDefault(), new List<int>());
                    }
                    childs[item.ParentId.GetValueOrDefault()].Add(item.Id);
                }

                ischecked.Add(item.Id, false);


            }

        }
        @{
            void recursiveCategories(int id)
            {
                if (ischecked[id] == false)
                {
                    ischecked[id] = true;
                    if (childs.ContainsKey(id))
                    {
                        <li class="subMenu open">
                            <a>@categories[id].Name</a>
                            <ul>
                                @foreach (int childId in childs[id])
                                {
                                    recursiveCategories(childId);
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a class="active" href="/@culture/@_loc["categoryUrl"]/@id"><i class="icon-chevron-right"></i>@categories[id].Name </a></li>
                    }
                }
            }

            foreach (int id in parents)
            {
                recursiveCategories(id);
            }
        }


    </ul>
    <br />
    @*<div class="thumbnail">
            <img src="/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
            <div class="caption">
                <h5>Panasonic</h5>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div><br />
        <div class="thumbnail">
            <img src="/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
            <div class="caption">
                <h5>Kindle</h5>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div><br />
        <div class="thumbnail">
            <img src="/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
            <div class="caption">
                <h5>Payment Methods</h5>
            </div>
        </div>*@
</div>

