
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
     var culture = CultureInfo.CurrentCulture.Name;
}
@section scripts{
    <script src="/js/cart.js"></script>
    <script>
        var cart = new CartController();
        cart.initialize();
    </script>

}
<!-- Sidebar end=============================================== -->
<div class="span9">
 
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active"> SHOPPING CART</li>
    </ul>
    <h3> <a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
    <hr class="soft" />

   

    <table class="table table-bordered">
        <thead>
            <tr>

                <th><localize>Product</localize></th>
                <th><localize>Description</localize></th>
                <th><localize>Quantity</localize></th>
                <th><localize>Price</localize></th>
                <th><localize>Discount</localize></th>
                <th><localize>Total</localize></th>
            </tr>
        </thead>
        <tbody id="cart-body">
           
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align:right"><localize>Total Price</localize>:	</td>
                <td id="total-price"> $228.00</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:right"><localize>Total Discount</localize>	</td>
                <td> $50.00</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:right"><strong><localize>TOTAL</localize> ($228 - $50 + $31) =</strong></td>
                <td class="label label-important" style="display:block"> <strong> $155.00 </strong></td>
            </tr>
        </tfoot>
           
       
    </table>


    

   
    <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
    <a href="/@culture/cart/checkout" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>
</div>


