@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <h1 class="mt-4">Bảng thống kê</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar mr-1"></i>
                        Doanh thu 
                        <div class="card-body">
                            <canvas id="chLine"></canvas>
                           
                        </div>
                    </div>
                   
                </div>
            </div>
           
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar mr-1"></i>
                        Top bán chạy
                    </div>
                    <div class="card-body">
                        <canvas id="chBar" ></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                DataTable Example
            </div>
            
        </div>
    </div>
<script>
    var colors = ['#007bff', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d'];
    // bar chart

    $(document).ready(function () {
        $.ajax({
            type: "POST",

            url: "/Statistic/GetBestSellers",
            success: function (res) {
                var chBar = document.getElementById("chBar");
                if (chBar) {
                    new Chart(chBar, {
                        type: 'bar',
                        data: {
                            labels: res.label,
                            datasets: [{
                                data: res.data[0],
                                backgroundColor: colors[0]
                            }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            scales: {
                                xAxes: [{
                                    barPercentage: 0.4,
                                    categoryPercentage: 0.5
                                }]
                            }
                        }
                    });
                }
            }
        });
       
    })

    //line chart
    $(document).ready(function () {
       

        /* large line chart */
        $.ajax({
            type: "POST",

            url: "/Statistic/GetRevenuePerMonth",
            success: function (res) {
                //console.log(res);
                var chLine = document.getElementById("chLine");
                var chartData = {
                    labels: res.label,
                    datasets: [{
                        data: res.data[0],
                        backgroundColor: 'transparent',
                        borderColor: colors[0],
                        borderWidth: 4,
                        pointBackgroundColor: colors[0]
                    }

                    ]
                };
                if (chLine) {
                    new Chart(chLine, {
                        type: 'line',
                        data: chartData,
                        options: {
                            scales: {
                                xAxes: [{
                                    ticks: {
                                        beginAtZero: false
                                    }
                                }]
                            },
                            legend: {
                                display: false
                            },
                            responsive: true
                        }
                    });
                }
            }
        });
    })
</script>